{% extends 'base.html' %}
{% block content %}

<h1>All About Brewcasionally</h1>
<hr>
<h4>Save a brew, pair snacks, and make plans!</h4>
<br>
<p>
    With this practical, user-friendly application, you can search and discover new brews- all it takes is submitting the abv (alcohol by volume) of your preference. You will have brews matching the range of your desired abv.
</p>
<br>
<p>
    Save brews that spark your interest, add any type of occasion you have planned, and pair a favorite food or snack- you got yourself a Brewcasion! Sign up and give it a try!
</p>
<br>
<p>
    Get right for any occasion with Brewcasionally!
</p>


{% endblock %}


